@import "tailwindcss";

body {

    min-height: 100vh;
    margin: 0;
    /* background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
    background: linear-gradient(135deg, #0f2027, #1b3a47); */
    background-size: 300% 300%;
    animation: gradientMove 8s ease infinite;
}

